/* Resetting some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Section 1 styles */
  .section1 {
    background-image: url('assets/slide1.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .centered {
    text-align: center;
    color: white;
  }
  
  /* Section 2 styles */
  .section2 {
    background-color: rgb(247, 246, 246);
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .section2 h2,
  .section3 h2,
  .section4 h2,
  .section5 h2,
  .section6 h2 {
    text-align: center;
  }
  
  .foundations {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .foundation {
    /*margin: 20px;
    text-align: center;*/
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 200px;
  }
  
  .foundation img {
    /*width: 100px; /* Adjust as needed */
    /*height: 100px; /* Adjust as needed */
    max-width: 100%;
    border-radius: 10px;
  }
  
  /* Section 3 styles */
  .section3 {
    background-image: url('slide2.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-container {
    margin-top: 20px;
  }
  
  /* Section 4 styles */
  .section4 {
    background-color: white;
    padding: 50px 0;
  }
  
  .community {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-wrap: wrap;
    
    
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .community-section {
    
    

    background-color: rgb(230, 229, 229);
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 200px;
  }
  
  .community-section img {
    width: 200px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
  }

  .community-section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .community-section button:hover {
    background-color: #0056b3;
  }
  
  /* Section 5 styles */
  .section5 {
    background-image: url('assets/parallax-light.jpg');
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .logo {
    margin: 20px;
    text-align: center;
  }
  
  .logo img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
  }
  
  /* Section 6 styles */
  .section6 {
    background-color: white;
    padding: 50px 0;
  }
  
  .trending {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .trending-section {
    margin: 20px;
    text-align: center;
  }
  
  .trending-section img {
    width: 200px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
  }


  .community-image {
    text-align: center;
  }
  
  .community-image img {
    width: 100%; /* Adjust as needed */
    max-width: 500px; /* Adjust as needed */
  }


  
  